    /* MAGIC     */

    * {
      margin: 0;
      padding: 0;
    }
    body {
      background: #000;
    }
    canvas {
      margin: 0 auto;
      display: block;
      border-left: 0;
      border-right: 0;
    }
    p {
      position: absolute;
      margin: 10px;
      color: #ffffff;
    }