/* font-family: 'Righteous', cursive;
font-family: 'Josefin Sans', sans-serif; */

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #cfd7ff 0%,#9baefb 60%,rgb(134, 168, 255) 100%);
}

.App {
  height: 100vh;
  overflow: scroll;  
}

.main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  color: rgb(230, 230, 230);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 27px;
}

.Login-page-button {
  background: radial-gradient(ellipse at bottom, rgb(253, 129, 139, 0.7), rgb(253, 129, 139));
  /* background: linear-gradient(40deg,#fa9f55,#fc6262); */
  border: none;
  width: 220px;
  height: 45px;
  font-size: 20px;
  border-radius: 20px;
  padding: 5px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

/*------------------*/
/*-----FOOTER-------*/
/*------------------*/

.navber-div{
  position: fixed;
  bottom: 0;
  width: 100%;
}



.navbar {
  display: flex;
  flex-direction: row; 
  align-items: center;
  width:100wh;
  height: 50px;
  list-style: none;
  padding: 0;
  background: rgb(253, 129, 139);
  font-size: 40px;
  justify-content: space-between;
}

.ion-android-contact,
.ion-map,
.ion-aperture {
  margin: 20px 40px;
  color: white;
}